/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Body styling */
body {
    background: linear-gradient(135deg,#4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.container {
    background: white;
    padding: 20px;
    width: 4oopx;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0,2);
}

/* Header */
h1{
    text-align: center;
    margin-bottom: 20px;
}

/* Input section */
.input-section {
    display: flex;
    gap: 20px;
}

#todo-input {
flex: 1;
padding: 10px;
border-radius: 8px;
border: 1px solid #ccc;
}

button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #4facfe;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #007bff;
}

/* Actions */
.actions {
    margin-top: 10px;
    text-align: right;
}

/* Todo List */
#todo-list {
    list-style: none;
    margin-top: 20px;
}

/* Each todo*/
.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 1opx;
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Left side */
.todo-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Completed style */
.completed span {
    text-decoration: line-through;
    color: gray;
}

/* Action buttons */
.todo-actions button {
    margin-left: 5px;
    background: #ff6b6b;
}

.todo-actions button.edit {
    background: 28a745;
}